.app {
  padding: 2em;
}

.app__cart {
  overflow: hidden;
}

.app__cart .toggle {
  float: right;
  text-align: right;
}

.app__cart .toggle__content {
  margin-top: 0.5em;
  padding: 2em;
  background: #fff;
  text-align: left;
}
