.inventory__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  max-width: 48em;
}

.inventory__list-item {
  margin-bottom: 1em;
}

.inventory__list-item .product {
  padding: 2em;
  background: #fff;
}
