@import "helpers/colors";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  background: $color-shaded;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

button {
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  background: $color-action;
  border: none;
  cursor: pointer;
  outline: none;
}
